<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1921.mybatis.mapper.ClazzMapper">
    <resultMap id="BaseResultMap" type="Clazz">
        <id column="clazz_id" jdbcType="INTEGER" property="clazzId"/>
        <result column="clazz_name" jdbcType="VARCHAR" property="clazzName"/>
        <association property="teacher" javaType="com.soft1921.mybatis.domain.Teacher">
            <id column="teacher_id" property="teacherId"/>
            <result column="teacher_name" property="teacherName"/>
        </association>
        <collection property="students" ofType="com.soft1921.mybatis.domain.Student">
            <id column="student_id" property="studentId"/>
            <result column="student_name" property="studentName"/>
            <result column="hometown" property="hometown"/>
        </collection>
    </resultMap>


    <select id="getClazzOneToMany" resultMap="BaseResultMap" parameterType="_integer">
        select c.clazz_id, c.clazz_name, s.student_id, student_name, s.hometown
        from t_clazz c,
             t_student s
        where c.clazz_id = #{clazzid}
          and c.clazz_id = s.clazz_id
    </select>

    <select id="StudentAndTeacher" parameterType="integer" resultMap="BaseResultMap">
        select c.clazz_id, c.clazz_name, t.teacher_id, t.teacher_name, s.student_name, s.hometown
        from t_clazz c
                     left join t_teacher t
                on c.clazz_id = t.clazz_id
                     left join t_student s
                on t.clazz_id = s.clazz_id
        where c.clazz_id = #{clazzid}
    </select>
</mapper>