<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1921.mybatis.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="com.soft1921.mybatis.domain.Student">
        <!--@mbg.generated-->
        <!--@Table t_student-->
        <id column="student_id" jdbcType="INTEGER" property="studentId"/>
        <result column="student_name" property="studentName"/>
        <association property="clazz" javaType="com.soft1921.mybatis.domain.Clazz">
            <id column="clazz_id" property="clazzId"/>
            <result column="clazz_name" property="clazzName"/>
        </association>

        <collection property="courses" ofType="com.soft1921.mybatis.domain.Course">
            <id column="course_id" property="courseId"/>
            <result column="course_name" property="courseName"/>
        </collection>
    </resultMap>

    <delete id="batchInsert" parameterType="Student">
        insert into t_student values
        <foreach collection="students" item="student" index="index" separator=",">
            (#{student.studentId}, #{student.studentName}, #{student.hometown}, #{student.birthday}, #{student.clazzId})
        </foreach>
    </delete>

    <delete id="batchDelete" parameterType="int">
        delete
        from t_student where student_id in
        <foreach collection="idList" item="item" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="batchUpdate" parameterType="java.util.List">
        <foreach collection="students" item="item" index="index" open=""
                 close="" separator=";">
            update t_student t
            <set>
                <if test="item.clazzId != null">
                    `clazz_id` = #{item.clazzId,jdbcType=INTEGER},
                </if>
                <if test="item.studentName != null">
                    `student_name` = #{item.studentName,jdbcType=VARCHAR},
                </if>
                <if test="item.hometown != null">
                    `hometown` = #{item.hometown,jdbcType=VARCHAR},
                </if>
                <if test="item.birthday != null">
                    `birthday` = #{item.birthday,jdbcType=DATE},
                </if>
            </set>
            where t.student_id = #{item.studentId}
        </foreach>
    </delete>

    <select id="selectByDynamicSql" parameterType="Student" resultType="Student">
        select *
        from t_student
                where 1 = 1
        <choose>
            <when test="clazzId != null">
                and clazz_id = #{clazzId}
            </when>
            <when test="hometown != null">
                and hometown like "%"#{hometown}
            </when>
        </choose>
    </select>

    <select id="getStudentManyToOne" resultMap="BaseResultMap" parameterType="integer">
        select s.student_id, student_name, c.clazz_id, clazz_name
        from t_student s,
             t_clazz c
        where s.student_id = #{studentId}
          and s.clazz_id = c.clazz_id
    </select>


    <select id="clazzAndCourse" resultMap="BaseResultMap">
        select s.student_id, s.student_name, c.clazz_id, c.clazz_name, tc.course_id, tc.course_name
        from t_student s
                     left join t_clazz c
                on s.clazz_id = c.clazz_id
                     left join t_course_student cs
                on s.student_id = cs.student_id
                     left join t_course tc
                on cs.course_id = tc.course_id
        where s.student_id = #{studentId}
    </select>
</mapper>