<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1921.mybatis.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.soft1921.mybatis.domain.Teacher">
        <!--@mbg.generated-->
        <!--@Table t_teacher-->
        <id column="teacher_id" jdbcType="INTEGER" property="teacherId"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <result column="clazz_id" jdbcType="INTEGER" property="clazzId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        teacher_id, teacher_name, clazz_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from t_teacher
        where teacher_id = #{teacherId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from t_teacher
        where teacher_id = #{teacherId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="teacher_id" keyProperty="teacherId"
            parameterType="com.soft1921.mybatis.domain.Teacher" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_teacher (teacher_name, clazz_id)
        values (#{teacherName,jdbcType=VARCHAR}, #{clazzId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="teacher_id" keyProperty="teacherId"
            parameterType="com.soft1921.mybatis.domain.Teacher" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into t_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherName != null">
                teacher_name,
            </if>
            <if test="clazzId != null">
                clazz_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherName != null">
                #{teacherName,jdbcType=VARCHAR},
            </if>
            <if test="clazzId != null">
                #{clazzId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.soft1921.mybatis.domain.Teacher">
        <!--@mbg.generated-->
        update t_teacher
        <set>
            <if test="teacherName != null">
                teacher_name = #{teacherName,jdbcType=VARCHAR},
            </if>
            <if test="clazzId != null">
                clazz_id = #{clazzId,jdbcType=INTEGER},
            </if>
        </set>
        where teacher_id = #{teacherId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.soft1921.mybatis.domain.Teacher">
        <!--@mbg.generated-->
        update t_teacher
        set teacher_name = #{teacherName,jdbcType=VARCHAR},
            clazz_id     = #{clazzId,jdbcType=INTEGER}
        where teacher_id = #{teacherId,jdbcType=INTEGER}
    </update>
    <!-- id:对应TeacherMapper接口内的方法名，resultMap:对应返回的类型，此处BaseResultMap为上面定义的，已经指向了包名.Teacher-->
    <select id="findAll" resultMap="BaseResultMap">
        select *
        from t_teacher
    </select>

    <insert id="insertTeacher" parameterType="com.soft1921.mybatis.domain.Teacher">
        insert into `t_teacher` (`teacher_name`, `clazz_id`)
        VALUES (#{teacherName,jdbcType=VARCHAR}, #{clazzId,jdbcType=INTEGER})
    </insert>
</mapper>