<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft1921.mybatis.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="Teacher">
        <!--@mbg.generated-->
        <!--@Table t_teacher-->
        <id column="teacher_id" jdbcType="INTEGER" property="teacherId"/>
        <result column="teacher_name" jdbcType="VARCHAR" property="teacherName"/>
        <association property="clazz" javaType="com.soft1921.mybatis.domain.Clazz">
            <id column="clazz_id" property="clazzId"/>
            <result column="clazz_name" property="clazzName"/>
        </association>
    </resultMap>

    <!-- id:对应TeacherMapper接口内的方法名，resultMap:对应返回的类型，此处BaseResultMap为上面定义的，已经指向了包名.Teacher-->
    <select id="findAll" resultMap="BaseResultMap">
        select *
        from t_teacher
    </select>


    <insert id="insertTeacher" parameterType="com.soft1921.mybatis.domain.Teacher">
        insert into `t_teacher` (`teacher_name`, `clazz_id`)
        VALUES (#{teacherName,jdbcType=VARCHAR}, #{clazzId,jdbcType=INTEGER})
    </insert>

    <select id="selectTeachetOneByOne" parameterType="_integer" resultMap="BaseResultMap">
        select t.teacher_id, t.teacher_name, c.clazz_id, c.clazz_name
        from t_teacher t,
             t_clazz c
        where t.teacher_id = #{teacherId,jdbcType=INTEGER}
          and t.clazz_id = c.clazz_id;
    </select>
</mapper>